<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/Admin" class="nav-link px-2 link-secondary">Anasayfa</a></li>
            <li><a href="/Admin/Categories" class="nav-link px-2">Kategori Yönetimi</a></li>
            <li><a href="/Admin/Posts" class="nav-link px-2">İçerik Yönetimi</a></li>
            <li><a href="/Admin/Slides" class="nav-link px-2">Slider Yönetimi</a></li>
            <li><a href="/Admin/Users" class="nav-link px-2">Kullanıcı Yönetimi</a></li>
            <li><a href="/Admin/Contacts" class="nav-link px-2">İletişim Formları</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/Admin/Logout" class="btn btn-danger">Oturumu Kapat</a>
        </div>
    </header>
</div>

